@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background: linear-gradient(to left, #87EFF6, #FFFFFF);
}

.header {
    display: flex;
    border-bottom: 1px solid rgb(0, 255, 200);
    justify-content: space-between;
    padding: 40px 80px;

    & .nav {
        display: flex;
        gap: 50px;


        & a {
            color: black;
            text-decoration: none;
        }
    }
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
    align-items: center;
    height: calc(100vh - 110px);

    & .ladoesquerdo {
        display: flex;
        flex-direction: column;
        gap: 58px;

        & .content {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 600px;

            & .p1 {
                color: #FF2323;
                font-size: 24px;
                font-weight: 600;

                & .h1 {
                    font-size: 40px;
                }

            }

        }
    
    & .btns {
        display: flex;
        gap: 16px;
    
    & button {
        padding: 14px 20px;
        border-radius: 20px;
        font-size: 18px;
        background-color: #4ABBC2;
        font-weight: 700;
        border: none;
    }
    & button:last-child {
        color: #4ABBC2;
            background-color: transparent;
            border: solid 2px #4ABBC2;
    }
    }
    

    }
}